@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

body {
  font-family: "Poppins", sans-serif;
  background: url("../img/contact.png") no-repeat center fixed;
  background-size: cover;

}

header {
  margin-bottom: 2em;
  max-width: 95%;
  display: flex;
  margin: 0 auto;
  align-content: center;
  align-items: center;
  justify-content: space-between;
  color: #0c1a39;
  z-index: 10;
  position: relative;
}

header ul {
  display: inline-flex;
  padding-left: 8em;
  font-size: 20px;
  width: 100%;
  list-style: none;
}

header ul li {
  font-weight: 600;
  margin-right: 2.5em;
  font-size: 1.2em;
}

header ul li a {
  text-decoration: none;
  color: #0c1a39;
}

header ul li a:hover {
  color: #d62828;
}

.contact {
  font-size: 25px;
  float: right;
  padding-right: 6em;
}

.contact a {
  text-decoration: none;
}

.layout {
  width: 65%;
  margin: 0 auto;
}

ul {
  list-style-type: none;
}

.contact_content {
  width: 90%;
  font-size: 20px;
}

.social-media a {
  text-decoration: none;
  font-size: 25px;
  margin: 5px;
}

/* Media Query */
/* Mobile Phone */
@media (max-width: 768px) {
  body {
    background: url("../img/contact_medium.png") no-repeat center fixed;
    background-size: cover;
  }

  header {
    margin-bottom: 1em;
  }

  header ul {
    display: inline-flex;
    padding-left: 4em;
    font-size: 18px;
    width: 100%;
    list-style: none;
  }

  .contact {
    font-size: 25px;
    float: right;
    padding-right: 3.5em;
  }

  .layout {
    margin: 0 auto;
  }

  .social-media a {
    text-decoration: none;
    font-size: 20px;
    margin: 5px;
  }

}

@media (max-width: 468px) {
  body {
    background: url("../img/contact_small.png") no-repeat center fixed;
    background-size: cover;
  }

  header {
    margin-bottom: 1em;
  }

  header ul {
    display: inline-flex;
    padding-left: 3em;
    font-size: 12px;
    width: 100%;
    list-style: none;
  }

  .contact {
    font-size: 20px;
    float: right;
    padding-right: 2em;
  }

  .layout h1 {
    margin: 0 auto;
    font-size: 25px;
  }

  .contact_content {
    width: 90%;
    font-size: 17px;
  }

  .social-media a {
    font-size: 18px;
    margin: 2px;
  }
}

@media (max-width: 380px) {
  body {
    background: url("../img/contact_small.png") no-repeat center fixed;
    background-size: cover;
  }

  header {
    margin-bottom: 1em;
  }

  header ul {
    display: inline-flex;
    padding-left: 3em;
    font-size: 10px;
    width: 100%;
    list-style: none;
  }

  .contact {
    font-size: 18px;
    float: right;
    padding-right: 2em;
  }

  .layout h1 {
    margin: 0 auto;
    font-size: 20px;
  }

  .contact_content {
    width: 90%;
    font-size: 16px;
  }

  .social-media a {
    font-size: 18px;
    margin: 2px;
  }
}